@import "~antd/dist/antd.css";
.login-form {
  max-width: 300px;
  align-items: center;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.login-div {
  align-items: center;
}
