@import "~antd/dist/antd.css";
/* .login-form {
  max-width: 300px;
  align-items: center;
}
.login-form-button {
  width: 100%;
}
.report-form {
  align-items: center;
} */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.report-title {
  text-align: center;
}
